# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build/

# production
*.tgz

# misc
.DS_Store
*.log
*.pem

# env files - keep secrets out of git
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/
.idea/
